#bottom {
    height:200px;
    position: relative;
    width:200px;
    z-index: -1;
    margin-top:-100px;
    margin-left: 400px;
    
}

#middle {
    height:200px;
    margin-top:-100px;
    margin-left:250px;
    position: relative;
 
    width:200px;
    z-index: -1;
    
}

#top {

    height:200px;
    margin-left:100px;
    margin-right:0;
    position: relative; /* and this has to be relative */
    width:200px;
    z-index: -1;

} 


h1 {
    margin-top:"55px";
    float: "right";
    width: "30%";
    border: "5px solid yellow";
}
  
#main-frame{
    /* background-image:url("./home.jpg"); */
    width:100%!important;
    max-width:100%!important;
    background-position: center center;
    height: 600px;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}